*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 106, 219);
}

header {
    text-align: center;
    color: white;
    padding: 20px;
}

.container {
    background: white;
    border-radius: 30px;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;

}
#personagem {
    padding-top: 20px;
    height: 100vh;
    
}
menu {
    display: grid;
    grid-template-columns: 6;

    list-style: none;
    
    color: black;
    text-decoration: none;
    float: left;
}
.wrapper {
    display: grid;
   padding: 20px;
   
}
.box {
    border: 1px solid black;
    padding: 20px;
    text-decoration: none;
    background-color: rgb(30, 106, 219);
    color: white;
    
}
.box:hover {
    background-color: rgb(81, 139, 226);
}
a {
    text-decoration: none;
    color: white;
}

h2 , h1 {
    padding: 10px;
    text-align: center;

}
h2 {
    font-size:larger;
}
p {
    color: white;
}
#sobre > p  {
width: 100%;
text-align: center;
height: 400px;
border: 1px solid black;
break
}